* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  background-color: lightgray;
}

#main-header {
  margin-bottom: 50px;
  text-align: center;
}

#main-header h1 {
  margin-bottom: 20px;
}

.pw-generator-box {
  background: white;
  border-radius: 5px;
}

.pw-generator-box h3 {
  display: inline-block;
}

.pw-generator-box span {
  border: 1px solid green;
}
